<html>
<head>
  <meta charset="UTF-8">

  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href="/app/assets/stylesheets/application.css" rel="stylesheet" type="text/css"/>

  <link rel="stylesheet" type="text/css"
        href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

</head>
<body>
  <a name="listing"></a>
  <div id="listing_container">
    <% @property.each do |property| %>
      <img src="<%= property.image_url %>">
      <!--<p>Address: <%=property.address %></p>-->
      <!--<p>City: <%=property.city %></p>-->
      <!--<p>State: <%=property.state %></p>-->
      <!--<p>Description: <%=property.description %></p>-->
    <% end %>


  <article>
    <header>I would like to see:</header>
    <ul class="store_list">
      <li><a href="#">A 24-hour dry cleaner.</a></li>
      <li><a href="#">A brew pub with really good food!</a></li>
      <li><a href="#">A good wine shop.</a></li>
      <li><form class="store_input">
        <input type="text" class="search_box" placeholder="What business would you like to see here?">
        <input type="submit" class="submit_button" value="Submit" alt="Submit">
      </form></li>
    </ul>

  </article>
  </div>


<div id="about_container">

  <a name="about"></a>

  <h2>About Storefront</h2>
  <h3>Storefront is a place where your voice can be heard. It's a place to share your
  ideas for businesses you would like to see in your community.</h3>
</div>




<a name="add"></a>

<div id="add_prop_container">
<form action="/" method="post">
  <input type="text" name="address" placeholder="address"><br><br>
  <input type="text" name="city" placeholder="city"><br><br>
  <input type="text" name="state" placeholder="state"><br><br>
  <input type="text" name="description" placeholder="description"><br><br>
  <input type="text" name="image_url" placeholder="image url"><br><br>
  <input type="submit" value="Add Listing">
</form>
</div>

</body>