<html>
<head>
  <meta charset="UTF-8">


  <link href="/app/assets/stylesheets/application.css" rel="stylesheet" type="text/css"/>

  <link rel="stylesheet" type="text/css"
        href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

</head>
<body>


<div id="about_container">

  <a name="about"></a>

  <h2>About Storefront</h2>
  <h3>Have you ever walked by a vacant storefront and said to yourself, "I wish
  this was a _____ right here". Or "wouldn't it be great if this was a _______ store". Storefront
  allows you to let your wishes be heard. Make a suggestion and let your voice be heard.</h3>
</div>


<a name="listing"></a>
 <div id="listing_container">
  <% @property.each do |property| %>
    <p>Address: <%=property.address %></p>
    <p>City: <%=property.city %></p>
    <p>State: <%=property.state %></p>
    <p>Description: <%=property.description %></p>
    <img src="<%= property.image_url %>">
    <% end %>
 </div>

<a name="add"></a>

<div id="add_prop_container">
<form action="/" method="post">
  <input type="text" name="address" placeholder="address"><br><br>
  <input type="text" name="city" placeholder="city"><br><br>
  <input type="text" name="state" placeholder="state"><br><br>
  <input type="text" name="description" placeholder="description"><br><br>
  <input type="text" name="image_url" placeholder="image url"><br><br>
  <input type="submit" value="Add Listing">
</form>
</div>

</body>