<h2>Edit Listing</h2>

<div class ="property_form">

  <%= form_for @property do |p| %>

    <p><%= p.label :address, 'Address', valueclass: 'field_style' %>
      <%= p.text_field :address, class: 'text_box_style', autofocus: 'autofocus' %></p>

    <p><%= p.label :city, 'City' %>
      <%= p.text_field :city %></p>

    <p><%= p.label :state, 'State' %>
      <%= p.text_field :state %></p>

    <p><%= p.label :description, 'Description' %>
      <%= p.text_field :description %></p>

    <p><%= p.label :image_url, "Image URL" %>
      <%= p.text_field :image_url %></p>

    <p><%= p.submit "Update Listing" %></p>

  <% end %>


  <form action="/properties/<%= @property.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <li><input type="submit" value="Delete"></li>
  </form>

</div>


