<div id="content">
  <div id="content_container">

    <!--  1/3 x 2/3 -->
    <div class="one_third">
      <a name="listing"></a>
      <div id="listing_container">
        <% @properties.each do |property| %>
          <img src="<%= property.image_url %>">
          <p>Address: <a href="/properties/<%= property.id %>"><%=property.address %></a></p>
          <p>City: <%=property.city %></p>
          <p>State: <%=property.state %></p>
          <p>Description: <%=property.description %></p>
        <% end %>
      </div>
    </div>
    <div class="two_third">
      <div id="idea_container">
        <header>I would like to see:</header>
        <ul>
          <li><a href="#">A 24-hour dry cleaner.</a></li>
          <li><a href="#">A brew pub with really good food!</a></li>
          <li><a href="#">A good wine shop.</a></li>
          <li><a href="#">An ice-cream place.</a></li>
          <li><a href="#">Family pizza restaurant.</a></li>
          <li>
            <form action="/" method="post" class="store_input">
            <input type="text" class="search_box" placeholder="What business would you like to see here?">
            <input type="submit" class="submit_button" value="Submit" alt="Submit">
          </li>
          </form>
        </ul>
      </div>
    </div>
    <div class="resetColumnSet"></div>

    <div class="one_third">
      <p>Storefront is a place where people can communicate and collaborate
        about the businesses they would like to see in their communities.
    </div>
    <div class="one_third">
      <p>What businesses would you like to see in your community?</p>
    </div>

    <div class="resetColumnSet"></div>

  </div><!--end content_container-->
</div><!--end content-->