<div id="content">
  <div id="content_container">

    <!--  1/3 x 2/3 -->
    <div class="one_third">
      <a name="listing"></a>

      <div id="listing_container">
        <img src="<%= @property.image_url %>">

        <p>Address: <a href="/properties/<%= @property.id %>/edit"><%= @property.address %></a></p>

        <p>Neighborhood: <%= @property.neighborhood.name %></p>

        <p>City: <%= @property.city %></p>

        <p>State: <%= @property.state %></p>

        <p>Description: <%= @property.description %></p>
      </div>
    </div>

    <div class="two_third">
      <div id="idea_container">
        <header>I would like to see:</header>
        <ul>
          <% @property.ideas.each do |idea| %>
            <li><a href='/ideas/<%= idea.id %>'><%= idea.idea %></a></li>
          <% end %>

          <li>
            <form action="/ideas" method="post" class="store_input">
              <input type="hidden" name="property_id" value="<%= @property.id %>">
              <input type="text" name="idea_box" class="idea_box" placeholder="Enter your idea here">
              <input type="submit" class="submit_button" value="Add Idea" alt="Add Idea"></form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
