<div id="content">
  <div id="content_container">
    <div class="one_third">
      <a name="listing"></a>

      <div id="listing_container">
        <% @properties.each do |property| %>
          <img src="<%= property.image_url %>">
          <p>Address: <a href='/properties/<%= property.id %>/edit'><%= property.address %></a></p>
          <p>Neighborhood: <%= property.neighborhood.name %></p>
          <p>City: <%= property.city %></p>
          <p>State: <%= property.state %></p>
          <p>Description: <%= property.description %></p>
          <iframe
          width="300"
          height="350"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDniIncBgHNstbnoDcNMPPV3O2uMOp_aYY
    &q=<%= property.address%>, <%= property.city%>, <%= property.state%>">
          </iframe>

          <div class="calltoaction">
            <h2><a href='/properties/<%= property.id %>'>Click to add/view ideas</a></h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="resetColumnSet"></div>
